.navbar-blur {
    background-color: rgba(117, 115, 115, 0.871); /* Couleur de fond semi-transparente */
    backdrop-filter: blur(3px); /* Flou de l'arrière-plan */

  }
.button-container {
    display: flex;
    flex-direction: row;
  }
  
  .label-container {
    margin-left: -5px;
    width: 100px;
    color: black; /* Couleur du texte */
  }
  
  .me-auto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    width: 300px;
  }
  
  .navbar-dark {
    box-shadow: 0px 0px 20px 10px;
  }
  .navbar-dark .nav-link {
    color: rgb(0, 0, 0); /* Couleur des liens */
    font-family: "Permanent Marker", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 1.1em;
  }
  
  .navbar-dark .nav-link:hover {
    color: rgb(82, 81, 81); /* Couleur des liens au survol */
  }
